<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="{{path('home')}}">Lington Beauty</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{path('home')}}">Accueil</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{path('shop')}}">Shopping</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{path('home')}}">A Propos</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{path('home')}}">Contact</a>
			</li>
		</ul>
		<div class="navbar-item-custom">
		{% if app.user %}
			<span>Bonjour, {{ app.user.firstname }} | </span> 
				<a class="" href="{{ path('account') }}">Mon compte | </a>
				<a class="" href="{{ path('app_logout') }}">Se déconnecter</a>
				<a href="{{path('cart')}}" class="">
					<img src="{{ asset('assets/img/icon/shopping-cart.png') }}" alt="Mon panier" class="shopping-cart">
						<strong class="notification">3</strong>
					</img>
				</a>
		{% else %}
				<a class="" href="{{path('app_login')}}">Se connecter | </a>
				<a class="" href="{{path('registration')}}">Inscription</a>
		{% endif %}
		</div>
	</div>
</nav>
